# Default ignored files
/shelf/
/workspace.xml
.vs/
bin/
obj/
*.user
*.suo
*.sln.ide
*.csproj.user
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pdb
*.log
*.tlog
*.ide
*.cache
*.ilk
*.sdf
*.opensdf
*.opendb
*.aps
*.ncb
*.scc
*.sln.docstates
*.tmp
*.temp
*.vscode/
